.container{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    margin: 10px;
    color: white;
}
.border{
    border: 1px solid #F49E10 ;
   margin: 0px 38px;
    
}
.button{
  
        width: 150px;
        height: 50px;
        background: #F49E10;
        color: white;
       }
     .spline{
        background: transparent;
     }